.about {
    height: 79rem;
    background-color: var(--color-second);
    border-bottom: 1rem solid var(--color-black-first);
}

.carousel {
    display: flex;
    flex-direction: row;
}

.gallery {
    display: flex;
    align-items: center;
    margin-bottom: 5rem;
}

.gallery-cell {
    width: 33%;
    height: 20rem;
    margin: 0 0.5rem;
    background-color: #8C8;
}

.description {
    color: var(--color-third);
    font-size: 3rem;
    line-height: 3.9rem;
    margin: 0 8rem;
}