.about {
    height: 79rem;
    background-color: var(--color-second);
    border-bottom: 1rem solid var(--color-black-first);
}

.description {
    color: var(--color-third);
    font-size: 3rem;
    line-height: 3.9rem;
    margin: 0 8rem;
}