.btn-arrow {
    width: 5rem;
    height: 5rem;
    background-color: var(--color-first);
    box-shadow: 5px 5px 0 var(--color-black-first);
    border: none;
    text-align: center;
    cursor: pointer;
    transition: transform 200ms;
    z-index: 1;
    transform: translateY(40px);
}

.btn-arrow::before {
    content: '';
    display: block;
    box-sizing: border-box;
    width: 1.5rem;
    height: 1.5rem;
    border: 1.5rem solid transparent;
    border-right: 2.8rem solid #fff;
    transform: translateX(-12px);
    
}

.btn-arrow:hover {
    transform: scale(1.2) translateY(33px);
}

.btn-arrow.-left::before {
    transform: rotate(180deg) translateX(-5px);
}

.btn-arrow.-hidden {
    overflow: hidden;
    margin: 45px;
}

.-left{
    margin-left: 2rem;
}

.-right {
    margin-right: 2rem;
}