.skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 74rem;
    background-color: var(--color-first);
    border-bottom: 1rem solid var(--color-second);
}

.skills-box {
    display: grid;
    grid-template-rows: auto auto auto auto;
    grid-template-columns: auto auto;
    row-gap: 4.2rem;
    column-gap: 10rem;
}

.skill-component {
    display: flex;
}

.skill-component .skill-icon {
    width: 9rem;
    margin-right: 2.5rem;   
}

.skill-component div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.skill-component div .skill-title {
    font-size: 2.5rem;
    line-height: 2.5rem;
    font-family: 'Press Start 2P', sans-serif;
    font-weight: 400;
    color: var(--color-third);
}

.progress-bar {
    width: 32rem;
    height: 4rem;
    border: 5px solid #000;
    box-sizing: border-box;
    background-color: var(--color-third);
}

.progress-bar-value {
    width: 70%;
    height: 100%;
    background-color: var(--color-second);
}