:root {
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #FFF;
    
    --color-black-first: #000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    
    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;

    font-size: 62.5%;
}

html, body {
    height: 100vh;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--color-black-first);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
}

.section {
    max-width: 1440px;
    width: 100%;
    box-sizing: border-box;
}