:root {
    --color-first: #F25A70;
    --color-second: #7C5E99;
    --color-third: #FFF;
    
    --color-black-first: #000;
    --color-black-second: #3A4042;
    --color-black-third: #828282;
    
    --color-error: #BA1F33;
    --color-warning: #CEB02A;
    --color-success: #62C370;

    font-size: 62.5%;
}

html, body {
    height: 100vh;
}

body {
    color: var(--color-black-first);
    font-family: "Fira Code", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 2rem;
    line-height: 2.5rem;
}

#header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px 10px 20px;
}

.menu {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.menu li {
    margin-right: 5rem;
}

.menu li a {
    position: relative;
    color: var(--color-third);
    text-decoration: none;
}

.menu .btn {
    margin-right: 0;
    transition: transform 200ms;
}

.menu .btn:hover {
    transform: scale(1.08);
}

.menu li .btn-download-cv {
    display: block;
    background-color: var(--color-first);
    color: var(--color-third);
    padding: 0 1.5rem;
    line-height: 6rem;
    box-shadow: 5px 5px 0 var(--color-black-first);
}

.menu li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 10px/2);
    left: -2rem;
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
}

.menu li .btn-download-cv::before {
    content: none;
}