.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--color-second);
    border-bottom: 10px solid var(--color-black-first);
    padding: 10px 20px 10px 20px;
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navigation li {
    margin-right: 5rem;
}

.navigation li a {
    position: relative;
    color: var(--color-third);
    text-decoration: none;
}

.navigation .btn {
    margin-right: 0;
}

.navigation li a::before {
    content: '';
    position: absolute;
    top: calc(50% - 10px/2);
    left: -2rem;
    background-color: var(--color-first);
    width: 10px;
    height: 10px;
}

.navigation li .main-btn::before {
    content: none;
}