.projects {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 54rem;
    background-color: var(--color-black-first);
}

.box-projects {
    display: grid;
    width: 115rem;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
    column-gap: 156px;
}

.box-projects img {
    cursor: pointer;
    transition: 500ms;
}

.box-projects .project-item01:hover {
    opacity: 0.8;
}

.box-projects .project-item02:hover {
    opacity: 0.8;
}

.box-projects .project-item03:hover {
    opacity: 0.8;
}